<!DOCTYPE html>
<html>
  <head>
    <title>Foxeo</title>
    <meta name="author" content="Roman Gontcharov" />
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('foxeo_logo.png') %>";
    </script>
    <script type="text/javascript">
      window.smileyURL = "<%= image_url('Smiley.png') %>";
    </script>
    <script type="text/javascript">
      window.vertovURL = "<%= image_url('vertov.png') %>";
    </script>
     <script type="text/javascript">
      window.gitLogoURL = "<%= image_url('GitHub_Logo_White.png') %>";
    </script>
     <script type="text/javascript">
      window.linkSmallURL = "<%= image_url('linkedin_small.png') %>";
    </script>
    <script type="text/javascript">
      window.gitBlackURL = "<%= image_url('GitHub_Logo.png') %>";
    </script>
    <script type="text/javascript">
      window.linkSplashURL = "<%= image_url('linkedin-logo.png') %>";
    </script>
    <script type="text/javascript">
      window.screenShot = "<%= image_url('foxeo.png') %>";
    </script>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>
    <meta property="og:title" content="Foxeo" />
    <meta property="og:description" content="Foxeo is a Vimeo's clone and is intended for storing and viewing videos." />
    <meta property="og:url" content="https://foxeo.herokuapp.com/#/" />
    <meta property="og:image" content="<%= image_url('foxeo.png') %>" />
    
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
